.steps ul {display:inline;}
.steps ul,
.steps ul li {
list-style:none;
margin:0;
padding:0;
}
.steps {
margin:10px 0;
}
.steps ul li {
display:block;
float:left;
padding:0;
line-height:1.5em;
width:1.7em;
text-align:center;
margin:0 5px;
font-size:1em;
border:1px solid #4D4D4D;
color:#4D4D4D;
border-radius:20px;
}
.steps ul li.active {
background-color:#00AAE5;
color:#fff;
}
.steps ul li.complete {
background-color:#34C71F;
color:#fff;
}
.header > img {
vertical-align:bottom;
}
.header > h3 {
line-height:1.8em;
}