/log/*.log
/uploads/*
.project
/config.php
/system/composer/*
/system/modules/*/tests/_log/*
/system/modules/*/tests/_bootstrap.php
/*/tests/acceptance.suite.yml
/system/modules/*/tests/unit.suite.yml
/system/modules/*/tests/functional.suite.yml
/system/modules/*/tests/Spyc.php
/system/modules/*/tests/*/_helpers
/system/modules/*/tests/*/_bootstrap.php
/system/modules/*/tests/acceptance/AcceptanceTester.php
/system/modules/*/tests/functional/FunctionalTester.php
/system/modules/*/tests/unit/UnitTester.php
/system/modules/*/codeception.yml
/modules/*/tests/_log/*
/modules/*/tests/_bootstrap.php
/modules/*/tests/acceptance.suite.yml
/modules/*/tests/unit.suite.yml
/modules/*/tests/functional.suite.yml
/modules/*/tests/Spyc.php
/modules/*/tests/*/_helpers
/modules/*/tests/*/_bootstrap.php
/modules/*/tests/acceptance/AcceptanceTester.php
/modules/*/tests/functional/FunctionalTester.php
/modules/*/tests/unit/UnitTester.php
/modules/*/codeception.yml

/tests/codeception.master.yml

