/log/*.log
/uploads/*
.project
/config.php
/system/composer/*
/log/*.log
/uploads/*
.project
/config.php
/system/composer/*
codeception.yml
codeception.master.yml
/tests/dumps
/modules/*/tests/acceptance.suite.yml
/modules/*/tests/functional.suite.yml
/modules/*/tests/unit.suite.yml
/modules/*/tests/_bootstrap.php
/modules/*/tests/Spyc.php
/modules/*/tests/acceptance/AcceptanceTester.php
/modules/*/tests/acceptance/_steps/CM5WebGuySteps.php
/modules/*/tests/acceptance/_bootstrap.php
/modules/*/tests/functional/FunctionalTester.php
/modules/*/tests/functional/_bootstrap.php
/modules/*/tests/unit/UnitTester.php
/modules/*/tests/unit/_bootstrap.php
/modules/*/tests/_support/AcceptanceHelper.php
/modules/*/tests/_support/FunctionalHelper.php
/modules/*/tests/_support/UnitHelper.php
/modules/*/tests/_output/*
/system/modules/*/tests/acceptance.suite.yml
/system/modules/*/tests/functional.suite.yml
/system/modules/*/tests/unit.suite.yml
/system/modules/*/tests/_bootstrap.php
/system/modules/*/tests/Spyc.php
/system/modules/*/tests/acceptance/AcceptanceTester.php
/system/modules/*/tests/acceptance/_steps/CM5WebGuySteps.php
/system/modules/*/tests/acceptance/_bootstrap.php
/system/modules/*/tests/functional/FunctionalTester.php
/system/modules/*/tests/functional/_bootstrap.php
/system/modules/*/tests/unit/UnitTester.php
/system/modules/*/tests/unit/_bootstrap.php
/system/modules/*/tests/_support/AcceptanceHelper.php
/system/modules/*/tests/_support/FunctionalHelper.php
/system/modules/*/tests/_support/UnitHelper.php
/system/modules/*/tests/_output/*

