#stopbutton {background-color: red;}
#testsuites .testresult-passed > a {background-color: green; color: white; padding: 0.3em; }
#testsuites .testresult-failed > a {background-color: red; color: white; padding: 0.3em; }
#testsuites .testresult-pending > a {background-color: orange; color: white; padding: 0.3em; }
.suiteselected {float: left;  }
a.selectset {background-color: blue ! important}
<<<<<<< HEAD
#showdbtools {background-color: blue ! important}
#phperrors {background-color: pink;}
#phperrorlogpopupbutton {background-color: red; padding: 1em;}
.testnamewarning {
  border: 3px solid red;
  background-color: pink;
  font-weight: bold;
}
