body {
    background-color: #fdfefe;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.body {
    overflow: hidden;
}

span[class^='fi-'], span[class*=' fi-'] {
    margin-top: 200px !important;
    font-size: 18pt;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    height: 45px;
}

/* Search */
#search_form {
    margin-bottom: 0px !important;
}

#search-class-header {
    padding: 0px 30px;
    font-weight: lighter !important;
    border-bottom: 1px solid black !important;
}

.search-class .panel {
    margin-bottom: 10px !important;
    padding: 0px 30px !important;
}

.search-title {
    font-weight: normal;
    font-size: 110%;
}

.search-listing {
    padding: 0px 30px 20px 15px;
}

button {
    font-size: 0.8rem !important;
}

.header {
    border-bottom: 1px #cacaca solid;
}

.top-bar-section .has-dropdown > a {
    padding-right: 15px !important;
}
.top-bar-section .has-dropdown > a:after {
    display: none;
    content: none;
}

#footer {
    background-color: #555555;
    text-align: center;
    padding: 10px;
    border: 0px;
    color: #bcbcbc;
}

.boxes {
    border: 1px solid #acacac;
    padding: 10px;
}

.boxes > h5 {
    border-bottom: 1px solid #cacaca;
}

.boxes > ul { 
    list-style-type: none; 
    margin: 0px;
}

/* Grid List */
.grid-list-panel .panel {
    padding: 10px 0px;
    margin-bottom: 0px;
}

#filter-grid > li {
    padding-bottom: 0px;
}

/* Table styles */
table .section {
    background-color: #074e68;
    color: #fcfcfc;
    font-weight: lighter;
}

.section-header {
    margin-bottom: 10px;
    padding: 5px;
    font-weight: bolder;
    /*background-color: #4D88A5;*/
    border-bottom: 1px solid black;
}

.section-body {
    
}

.section-body li {
    padding-bottom: 0.5rem;
    /*border-bottom: 1px #cacaca solid;*/
}

.widget_buttons { opacity: 0; }
.widget_config { padding-left: 40px; }
.widget_remove { float: right; padding-right: 40px; }

/*.tab-head { margin-top: 20px; }*/
.tab-head a {
    color: black;
    text-decoration: none;
    padding: 5px;
    border: 1px solid #a9a9a9;
    line-height: 40px;
}
.tab-head a.active {
    background: #074e68;
    color: white;
}
.tab-head a:hover { background: #6FA9C7; }
.tab-body { border: 1px solid #a9a9a9; padding: 5px; }

td button {
    margin: 0;
    padding: 5px 15px !important;
}

ul.ui-autocomplete {
    z-index: 10000;
}

/* Comment section */
.comment_section {
    border-bottom: 1px #ddd solid;
    margin: 5px;
    padding: 10px;
}

.comment_header {
    font-size: 12pt;
    font-weight: lighter;
    color: #363636;
}

.comment_body {
    padding: 10px 0px;
}

.comment_meta {
    color: #797979;
}

.comment_meta a {
    text-decoration: underline;
    color: inherit;
}

/* Attachments section */
.attachments_container {
    overflow: hidden;
    margin-bottom: 10px;
}

.image_attachment {
    border: 1px solid grey;
    width: 200px;
    float: left;
    margin: 10px;
    margin-top: 0px;
    padding: 5px;
    background-color: #eee;
}

.image_attachment_text {
    width: 200px;
    padding-top: 5px;
}

.close-reveal-modal {
    top: 0px !important;
    margin-top: -5px !important;
    margin-right: -5px;
}

button.button {
    margin: 0;
}

/* Task group styling */
table.taskgroup_summary {
    margin-bottom: 0px !important;
}

/* Should be supported in IE7+ */
button.button + button {
    margin-left: 5px !important;
}

/* Loading Indicator - from: http://www.alessioatzeni.com/blog/css3-loading-animation-loop/*/
.loading_overlay {
    position: fixed;
    _position: absolute;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.9);
}

.loading_overlay .circle {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-right: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 35px #008cba;
    width: 50px;
    height: 50px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    -moz-animation: spinPulse 1s infinite ease-in-out;
    -webkit-animation: spinPulse 1s infinite linear;
}

.loading_overlay .circle_inner {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-left: 5px solid rgba(0,0,0,0);
    border-right: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 15px #008cba;
    width: 30px;
    height: 30px;
    position: relative;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    -moz-animation: spinoffPulse 1s infinite linear;
    -webkit-animation: spinoffPulse 1s infinite linear;
}

.loading_overlay h4 {
    color: white;
    font-weight: lighter;
    padding-top: 100px;
    text-align: center;
    width: 200px;
    height: 60px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

@-moz-keyframes spinPulse {
    0% {
        -moz-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }

    50% {
        -moz-transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -moz-transform: rotate(-320deg);
        opacity: 0;
    };
}

@-moz-keyframes spinoffPulse {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    };
}

@-webkit-keyframes spinPulse {
    0% {
        -webkit-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }

    50% {
        -webkit-transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(-320deg);
        opacity: 0;
    }
}

@-webkit-keyframes spinoffPulse {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}