body {
    background-color: #fdfefe;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: lighter;
}

.body {
    padding-left: 10px; 
    overflow: hidden;
}

button {
    font-size: 0.8rem !important;
}

.header {
    border-bottom: 1px #cacaca solid;
}

#footer {
    background-color: #555555;
    text-align: center;
    padding: 10px;
    border: 0px;
    color: #bcbcbc;
}

.boxes {
    border: 1px solid #acacac;
    padding: 10px;
}

.boxes > h5 {
    border-bottom: 1px solid #cacaca;
}

.boxes > ul { 
    list-style-type: none; 
    margin: 0px;
}

/* Table styles */
table .section {
    background-color: #074e68;
    color: #fcfcfc;
    font-weight: lighter;
}


