*, *:before, *:after {box-sizing:  border-box;}

/* Override Foundation padding for inputs */
input[type="text"], input[type="password"], 
input[type="date"], input[type="datetime"], 
input[type="datetime-local"], input[type="month"], 
input[type="week"], input[type="email"], 
input[type="number"], input[type="search"], 
input[type="tel"], input[type="time"], 
input[type="url"], textarea, select {
    margin-bottom: 0px;
}

form {
    margin: 1rem 0 1rem;
}

.multicolform > .row-fluid {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    align-content: stretch;
    flex-flow: row wrap;
}

/*.reveal-modal{
    position : fixed;
}*/

.reveal-modal-bg {
position: fixed;
}

ul.accordion {
    margin-left: 0px;
}

.accordion .accordion-navigation > .content {
    padding: 0px;
}

.item {
    padding:  .25rem;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}

.multicolform .panel {
    position:relative;
    display: block;
    padding: 10px;
}

.multicolform .panel table {
    width: 100%;
}

body {
    background-color: #fdfefe;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.body {
    overflow: hidden;
    padding: 10px;
/*    display: inline-block;*/
}

form fieldset {
    padding-bottom: 10px !important;
    margin: 0 2px !important;
}

nav span[class^='fi-'], nav span[class*=' fi-'] {
    margin-top: 200px !important;
    font-size: 18pt;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    height: 45px;
}

.form_section {
    border: 1px solid #adadad;
    background-color: #efefef;
    padding: 5px;
    margin-bottom: 10px;
}

.form_section_header {
    padding: 30px;
}

.form_section .panel {
    margin-bottom: 0px;
}

.form_section .icon-bar a.item {
    padding: 5px 20px;
}

.form_section_description {
    padding: 10px;
    background-color: #dedede;
    border: 1px solid #cfcfcf;
}

/* Search */
#search_form {
    margin-bottom: 0px !important;
}

#search-class-header {
    padding: 0px 30px;
    font-weight: lighter !important;
    border-bottom: 1px solid black !important;
}

.search-class .panel {
    margin-bottom: 10px !important;
    padding: 0px 30px !important;
}

.search-title {
    font-weight: normal;
    font-size: 110%;
}

.search-listing {
    padding: 0px 30px 20px 15px;
}

button {
    font-size: 0.8rem !important;
}

.header {
    border-bottom: 1px #cacaca solid;
}

.top-bar-section .has-dropdown > a {
    padding-right: 15px !important;
}
.top-bar-section .has-dropdown > a:after {
    display: none;
    content: none;
}

#footer {
    background-color: #555555;
    text-align: center;
    padding: 10px;
    border: 0px;
    color: #bcbcbc;
}

.boxes {
    border: 1px solid #acacac;
    padding: 10px;
}

.boxes > h5 {
    border-bottom: 1px solid #cacaca;
}

.boxes > ul { 
    list-style-type: none; 
    margin: 0px;
}

/* Grid List */
.grid-list-panel {
    clear: none !important;
}

.grid-list-panel .panel {
    padding: 10px 0px;
    margin-bottom: 0px;
}

#filter-grid > li {
    padding-bottom: 0px;
}

/* Table styles */
table .section {
    background-color: #074e68;
    color: #fcfcfc;
    font-weight: lighter;
}

.widget_buttons { opacity: 0; }
.widget_config { padding-left: 40px; }
.widget_remove { float: right; padding-right: 40px; }

/*.tab-head { margin-top: 20px; }*/
.tab-head a {
    color: black;
    text-decoration: none;
    padding: 5px;
    border: 1px solid #a9a9a9;
    line-height: 38px;
}
.tab-head a.active {
    background: #074e68;
    color: white;
}
.tab-head a:hover { background: #6FA9C7; }
.tab-body { border: 1px solid #a9a9a9; padding: 5px; }

td button {
    margin: 0;
    padding: 5px 15px !important;
}

ul.ui-autocomplete {
    z-index: 10000;
}

/* Comment section */
.comment_section {
    clear: both;
    display: block;
    margin: 5px;
    padding: 10px;
}

.comment_section .comment_section > .comment_body {
    border-left: 10px solid white;
}

.comment_section .comment_section {
    padding: 0px 0px 0px 20px;
    margin-top: 0px;
    margin-right: 0px;
}

.comment_section:hover {
    background-color: #efefef;
}

.comment_avatar {
    /*border-radius: 50%;*/
    border: 3px solid #074E68;
    
}

.comment_header {
    font-size: 12pt;
    font-weight: lighter;
    color: #363636;
}

.comment_body {
    
    position: relative;
    padding: 10px 0px;
}

.comment_body > div > p {
    margin-bottom: 5px;
}

.comment_meta {
    position: relative;
    color: #797979;
}

.comment_reply {
    padding: 0px 10px;
}

#comment_reply_form {
    margin-top: 0px;
}

.comment_meta a {
    text-decoration: underline;
    color: inherit;
}

/* Attachments section */
.attachments_container {
    overflow: hidden;
    margin-bottom: 10px;
}

.image_attachment {
    border: 1px solid grey;
    width: 200px;
    float: left;
    margin: 10px 5px 0px 0px;
    /*margin-top: 0px;*/
    padding: 5px;
    background-color: #eee;
}

.image_attachment > a {
    margin-bottom: 0px;
}

.image_attachment_text {
    width: 200px;
    padding: 5px 0px;
}

.close-reveal-modal {
    top: 0px !important;
    margin-top: -5px !important;
    margin-right: -5px;
}

button.button {
    margin: 0;
}

.section-body {
    padding: 0px 10px;
    display: inline;
}

.section-body ul {
    -moz-column-width: 18em;
    -webkit-column-width: 18em;
    -moz-column-gap: 1em;
    -webkit-column-gap:1em;
}

.section-body li {
    padding: 0px 5px;
    vertical-align: top;
    float: left;
    display: inline;
}

.section-body table {
    width: 100%;
}

/* Task group styling */
table.taskgroup_summary {
    margin-bottom: 0px !important;
}

/* Should be supported in IE7+ */
button.button + button {
    margin-left: 5px !important;
}

/* Loading Indicator - from: http://www.alessioatzeni.com/blog/css3-loading-animation-loop/ */
.loading_overlay {
    position: fixed;
    _position: absolute;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.9);
}

.loading_overlay .circle {
    background-color: rgba(0,0,0,0);
    border: 4px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-right: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 40px;
    /*box-shadow: 0 0 35px #008cba;*/
    width: 45px;
    height: 45px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    -moz-animation: spinPulse 1s infinite ease-in-out;
    -webkit-animation: spinPulse 1s infinite ease-in-out;
}

.loading_overlay .circle_inner {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-left: 5px solid rgba(0,0,0,0);
    border-right: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    /*box-shadow: 0 0 15px #008cba;*/
    width: 30px;
    height: 30px;
    position: relative;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    -moz-animation: spinoffPulse 1s infinite linear;
    -webkit-animation: spinoffPulse 1s infinite linear;
}

.loading_overlay .circle_center {
    background-color: rgba(0,0,0,0);
    border: 4px solid rgba(0,183,229,0.9);
    opacity: .9;
/*    border-left: 2px solid rgba(0,0,0,0);
    border-right: 2px solid rgba(0,0,0,0);*/
    border-radius: 50px;
    /*box-shadow: 0 0 15px #008cba;*/
    width: 15px;
    height: 15px;
    position: relative;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
/*    -moz-animation: spinPulse 2s infinite linear;
    -webkit-animation: spinPulse 2s infinite linear;*/
}

.loading_overlay h4 {
    color: white;
    font-weight: lighter;
    padding-top: 100px;
    text-align: center;
    width: 200px;
    height: 60px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.listGrid li{
    min-height: 190px;
}

ul.cmfive_breadcrumbs {
    border-radius: 0px;
    border-color: white;
    border-width: 1px 0px;
    border-style: solid;
    
    color: white;
    background-color: rgb(48, 48, 48);
    
    width:100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    box-sizing:border-box;
    display: inline-block;
    height: 35px;
    margin-left: 0px;
    padding-right: 20px;
}

.cmfive_breadcrumbs > * {
    font-size: 0.6875rem;
    text-transform: uppercase;
}

.cmfive_breadcrumbs > *:before {
    content: "/";
    color: #aaaaaa;
    margin: 0 0.75rem;
    position: relative;
    top: 1px;
}

ul.cmfive_breadcrumbs > li {
    color: rgb(160, 160, 160);
    vertical-align: middle;
    display: inline-block;
    margin-top: 3px;
}
.cmfive_breadcrumbs li:first-child:before {
    content: "";
    margin: 0 0.5rem;
}

.cmfive_breadcrumbs li.current {
    color: rgb(200, 200, 200);
    /*padding-left: 10px;*/   
}

.cmfive_breadcrumbs li > a {
    padding: 10px 0px;
}

.cmfive_breadcrumbs li > a:hover {
    color: white;
    text-decoration: none;
}

.cmfive_breadcrumbs li > i {
    color: rgb(220, 220, 220);
    font-size: 160%;
}

.multiFileUploadRow {
    padding: 5px;
    border: 1px solid grey;
}

.multiFileUploadRow input[type=file] {
    padding-top: 10px;
    margin-bottom: 0px;
}

@-moz-keyframes spinPulse {
    0% {
        -webkit-transform: rotate(360deg);
    }
    
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-moz-keyframes spinoffPulse {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    };
}

@-webkit-keyframes spinPulse {
    0% {
        -webkit-transform: rotate(360deg);
    }
    
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-webkit-keyframes spinoffPulse {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}


@media screen and (max-width: 640px) {
    .responsive-icon-bar .item {
        width: 100% !important;
        float: left;
    }
    
    .reveal-modal, dialog {
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
    }
    
    .column, .columns {
        padding: 0px 5px;
    }
}