body {
    background-color: #fdfefe;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: lighter;
}

.body {
    padding-left: 10px; 
    overflow: hidden;
}

.search-bar input {
    height: 1.8rem;
}
.search-button {
    height: 1.8rem;
}
button {
    font-size: 0.8rem !important;
}

.header {
    border-bottom: 1px #cacaca solid;
}

#footer {
    background-color: #555555;
    text-align: center;
    padding: 10px;
    border: 0px;
    color: #bcbcbc;
}

.boxes {
    border: 1px solid #acacac;
    padding: 10px;
}

.boxes > h5 {
    border-bottom: 1px solid #cacaca;
}

.boxes > ul { 
    list-style-type: none; 
    margin: 0px;
}

/* Grid List */
.grid-list-panel .panel {
    padding: 10px 0px;
    margin-bottom: 0px;
}

/* Table styles */
table .section {
    background-color: #074e68;
    color: #fcfcfc;
    font-weight: lighter;
}

.section-header {
    margin-bottom: 10px;
    padding: 5px;
    font-weight: bolder;
    /*background-color: #4D88A5;*/
    border-bottom: 1px solid black;
}

.section-body {
    
}

.widget_buttons { opacity: 0; }
.widget_config { padding-left: 40px; }
.widget_remove { float: right; padding-right: 40px; }

/*.tab-head { margin-top: 20px; }*/
.tab-head a {
    color: black;
    text-decoration: none;
    padding: 5px;
    border: 1px solid #a9a9a9;
    line-height: 40px;
}
.tab-head a.active {
    background: #074e68;
    color: white;
}
.tab-head a:hover { background: #6FA9C7; }
.tab-body { border: 1px solid #a9a9a9; padding: 5px; }

td button {
    margin: 0 !important;
    padding: 5px 15px !important;
}

ul.ui-autocomplete {
    z-index: 10000;
}

/* Comment section */
.comment_section {
    border-bottom: 1px #ddd solid;
    margin: 5px;
    padding: 10px;
}

.comment_header {
    font-size: 12pt;
    font-weight: lighter;
    color: #363636;
}

.comment_body {
    padding: 10px 0px;
}

.comment_meta {
    color: #797979;
}

.comment_meta a {
    text-decoration: underline;
    color: inherit;
}

/* Attachments section */
.attachments_container {
    overflow: hidden;
    margin-bottom: 10px;
}

.image_attachment {
    border: 1px solid grey;
    width: 200px;
    float: left;
    margin: 10px;
    margin-top: 0px;
    padding: 5px;
    background-color: #eee;
}

.image_attachment_text {
    width: 200px;
    padding-top: 5px;
}
